/*style.css*/
h1{font-family: 'Nanum Brush Script', cursive;}
.fonttest1{color: violet;}
.fonttest2{direction: rtl;}
.fonttest3{letter-spacing: -0.1ch;}
.fonttest4{line-height: 4ch;}
.fonttest5{text-align: center;}
.fonttest6{text-decoration: underline; text-decoration-color: aqua}
.fonttest7{text-indent: 2ch;}
.fonttest8{text-shadow: 5px 5px 3px coral;}
.fonttest9{text-transform: uppercase;}