.container{
    height: 500px;
    width: 500px;
    background-color: aqua;   
}
.container .item{
    border: 1px solid black;
}
.container .item:nth-child(1){
    width: 100px;
    height: 100px;
    background-color: white;
    position:absolute;
    top: 50px;
}
.container .item:nth-child(2){
    width: 100px;
    height: 100px;
    background-color: gray;
    position:absolute;
    left: 30px;
    z-index: 2;
}

.container .item:nth-child(3){
    width: 100px;
    height: 100px;
    background-color: black;
}
